* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.right {
  flex: 1;
  transition: 1s;
}

.header > h2 {
  margin: 0;
  color: #000;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.form > p {
  text-align: right;
}

.form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  outline: 0;
  transition: 0.2s;
  margin-top: 20px;
  width: 100%;
}

.form-field:focus {
  border-color: #000;
}

button {
  padding: 12px 10px;
  border: 0;
  background-color: orangered;
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}
button.secondary {
  background-color: #fff;
  color: orangered;
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
}
button:disabled {
  background-color: orange;
  cursor: default;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}
table {
  font-family: Verdana;
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 10px;
  text-align: left;
  margin: 0;
}

tbody tr:nth-child(2n) {
  background-color: #eee;
}

th {
  position: sticky;
  top: 0;
  background-color: orangered;
  color: white;
}
.text-center {
  text-align: center;
}
